<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//LOGGER" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration>
	<appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%-5p %-23d{MM-dd-yyyy HH:mm:ss:S} [%t] [%c{1}.%M():%L] : %m%n" />
		</layout>
	</appender>

	
	<logger name="com.dashboard">
		<level value="info" />
	</logger>

	

	<root>
		<priority value="info" />
		<appender-ref ref="consoleAppender" />
	</root>
</log4j:configuration>